<h1>New minute</h1>

<form id="new-minute" name="minute">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="field">
    <label for="user_id"> user_id:</label>
    <input type="text" name="user_id" id="user_id" value="<%= user_id %>" >
  </div>

  <div class="actions">
    
    <input type="submit" value="Create Minute" />
    
  </div>

</form>
<label>AutoSave
  <input type="checkbox" value="pruebas" id="AutoSave" name="AutoSave">
</label>
<a href="#/index">Back</a>