/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


body{
  background-color:#201F25;
  font-family:Arial, Helvetica, sans-serif;
  margin:0px auto;
}

#head{
  background-color:#2D2D2D;
  padding: auto 0 auto 0; 
  height: 23px;
}

a {
  text-decoration:none;
}

#menu-horizontal{
  position:relative;
  font-weight:bolder;
  font-size:12px;
  margin:0 auto;
  float:right;
}


/*---------------INICIO Menu desplegable ----------------------------------------------*/
ul#menu-horizontal li {
  height: 10px;
  padding: 5px 0;
  position: relative;
  width: 200px;
}

ul#menu-horizontal ul {
  display: none;
  position: relative;
  left:0;
  margin:0;
  padding:0;
  background:#FFFFFF;
  width:200px;
}

ul#menu-horizontal ul li {
  display: block !important;
}

ul#menu-horizontal li:hover ul{
  display: none;
}

ul#menu-horizontal li:hover ul{
  display: block;
}


#menu-horizontal li {
  margin:0 1px;
  width:250px;
  min-height:19px;
  text-align:left;
  list-style:none;
  padding:2px 0;
}

#menu-horizontal li:hover {
  background:#c5c5c5;
  width:200px;
}

#menu-horizontal li a {
  font:bold 14px Arial, Helvetica, sans-serif;
  text-decoration:none;
  color:#FFF;
}

#menu-horizontal li ul li{
  float:none;
  width:180px;
  margin:1px 0;
}
/*---------------FIN Menu desplegable ----------------------------------------------*/


#logo{
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Tamaño real 896 ancho X 481 de alto */
#contenedor{
  padding: 37px 36px 40px 43px;
  margin-left:auto;
  margin-right:auto;
  background-color:#EFEFEF;
  width: 817px;
  height: 604px;
}

#footer{
  padding: 90 0 20px 0;
  color:#706F74;
  text-align: center;
  font-weight:bolder;
  font-size:12px;
}


#forgotps{
  display:inline;
  float:right;
  width:150px;
  vertical-align:top;
}

.inputext{
  height:37px;
  font-size:18px;
  width:258px;
}

.subtitle{
  font-size:16px;
  font-weight:bold;
}

.textgray{
  color:#666666;
  font-size:12px;
}

#banner{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
  height: 88px;
  width: 896px;
}

#center{
  background:#FFFFFF;
  border: solid 1px #CCCCCC;
  float:left;
  position:relative;
  padding: 29px 40px 24px 40px;
}

#contenedor-login{
  background-color:#EFEFEF;
  padding: 37px 36px 40px 43px;
  margin-left:auto;
  margin-right:auto;
  height: 261px;
  width: 817px;
}

#tlogin{
  float:left;
  width:258px;
  display:inline;
}

#sign-upto{
  display:inline;
  float:left;
  height:162px;
  margin-right:120px;
  text-align:justify;
  width:348px;
}

#page{
  background-image:url(fondo.jpg);
}
